
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sign-up-individual-2MP {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(46, 196, 182, 0.0399999991);
  box-sizing: border-box;
  padding: 8.1rem 14rem 8rem 14rem;
  width: 100%;
  overflow: hidden;

  .group-9-zSd {
    flex-shrink: 0;
    margin: 0rem 8.4rem 16.85rem 0rem;
    display: flex;
    flex-direction: column;

    .logo-21w {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 5rem;
      width: 7.7346rem;
      height: 8rem;
      position: relative;
      object-fit: contain;
    }
    .for-individuals-XzH {
      font-size: 4rem;
      font-weight: 700;
      font-family: Brown, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 3.25rem;
      line-height: 1.25;
      letter-spacing: -0.08rem;
      color: #000a09;
    }
    .start-benefiting-from-the-wellness-experience-for-companies-looking-on-increasing-productivity-and-improving-organization-wellness-CKj {
      font-family: Brown, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 46rem;
      display: flex;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5625;
      color: #737373;
    }
  }
  .auto-group-mjjj-dvq {
    flex-shrink: 0;
    width: 61.6rem;
    height: 67.9rem;
    position: relative;

    .bg-m1T {
      top: 0;
      box-shadow: 0 0.4rem 5rem rgba(3, 8, 19, 0.1000000015);
      background-color: #ffffff;
      border-radius: 0.6rem;
      width: 58rem;
      height: 67.9rem;
      position: absolute;
      left: 3.6rem;
    }
    .form-filled-no-caption-SNV {
      height: 9.8rem;
      position: absolute;
      left: 7.6rem;
      top: 44.6rem;
      row-gap: 0.8rem;
      display: flex;
      flex-direction: column;
      width: 50rem;

      .title-8m7 {
        font-size: 1.4rem;
        color: #011c34;
        flex-shrink: 0;
        display: flex;
        font-weight: 600;
        line-height: 1.2575;
        letter-spacing: 0.01rem;
        font-family: Sofia Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
      .bg-qQd {
        border: solid 0.1rem #f0f0f0;
        border-radius: 0.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.933rem 1.733rem 1.933rem 46.933rem;
        width: 100%;

        .edit-show-Mds {
          width: 1.3333rem;
          height: 0.9333rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .description-feZ {
        line-height: 1.3333333333;
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
    .form-filled-no-caption-QMF {
      left: 26.2rem;
      top: 3.8rem;
      row-gap: 0.8rem;
      flex-direction: column;
      width: 31.4rem;
      height: 9.8rem;
      position: absolute;
      align-items: center;
      display: flex;

      .title-tXK {
        letter-spacing: 0.01rem;
        color: #011c34;
        font-family: Sofia Pro, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 9.7rem;
        font-size: 1.4rem;
        line-height: 1.2575;
        flex-shrink: 0;
        display: flex;
        font-weight: 600;
      }
      .bg-zKT {
        padding-left: 7.6rem;
        width: 100%;
        height: 4.8rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-gcvm-8wT {
          width: 100%;
          height: 100%;
          border: solid 0.1rem #f0f0f0;
          box-sizing: border-box;
          border-radius: 0.2rem;
        }
      }
      .description-EzV {
        line-height: 1.3333333333;
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 5.2rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
    .form-filled-no-caption-aHf {
      position: absolute;
      align-items: center;
      flex-direction: column;
      width: 31.4rem;
      height: 9.8rem;
      left: 0;
      top: 14rem;
      row-gap: 0.8rem;
      display: flex;

      .title-6G1 {
        font-weight: 600;
        color: #011c34;
        font-family: Sofia Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        display: flex;
        line-height: 1.2575;
        letter-spacing: 0.01rem;
        margin-right: 11.7rem;
      }
      .bg-1ds {
        box-sizing: border-box;
        padding-left: 7.6rem;
        width: 100%;
        height: 4.8rem;
        flex-shrink: 0;

        .auto-group-hest-mN9 {
          padding: 1.4rem 1.47rem 1.4rem 1.6rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #f0f0f0;
          border-radius: 0.2rem;
          box-sizing: border-box;

          .placeholder-H5b {
            font-weight: 300;
            white-space: nowrap;
            margin-right: 13.1754rem;
            display: flex;
            font-size: 1.4rem;
            font-family: Sofia Pro, 'Source Sans Pro';
            flex-shrink: 0;
            line-height: 1.4285714286;
            letter-spacing: 0.02rem;
            color: #737373;
          }
          .u-angle-down-KRb {
            margin-top: 0.0005rem;
            width: 1.0542rem;
            height: 0.6247rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .description-1ZK {
        flex-shrink: 0;
        margin-left: 5.2rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .form-filled-no-caption-k17 {
      position: absolute;
      row-gap: 0.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 31.4rem;
      height: 9.8rem;
      left: 0;
      top: 24.2rem;

      .title-TRK {
        margin-right: 9rem;
        font-size: 1.4rem;
        font-family: Sofia Pro, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-weight: 600;
        line-height: 1.2575;
        letter-spacing: 0.01rem;
        color: #011c34;
        white-space: nowrap;
      }
      .bg-mB7 {
        height: 4.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 7.6rem;
        width: 100%;

        .auto-group-bu5o-iMF {
          padding: 1.4rem 1.6rem;
          font-size: 1.4rem;
          font-weight: 300;
          border-radius: 0.2rem;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          letter-spacing: 0.02rem;
          white-space: nowrap;
          border: solid 0.1rem #f0f0f0;
          color: #737373;
          height: 100%;
          line-height: 1.4285714286;
          font-family: Sofia Pro, 'Source Sans Pro';
        }
      }
      .description-NAu {
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 5.2rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
      }
    }
    .form-filled-no-caption-gBb {
      flex-direction: column;
      width: 57.6rem;
      height: 9.8rem;
      position: absolute;
      left: 0;
      top: 34.4rem;
      row-gap: 0.8rem;
      display: flex;

      .title-1Ds {
        margin-left: 7.6rem;
        color: #011c34;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2575;
        letter-spacing: 0.01rem;
        font-family: Sofia Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
      .bg-vLq {
        width: 100%;
        height: 4.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 7.6rem;

        .auto-group-zvfo-gL1 {
          padding: 1.4rem 1.47rem 1.4rem 1.6rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #f0f0f0;
          border-radius: 0.2rem;
          box-sizing: border-box;

          .placeholder-bxm {
            display: flex;
            font-size: 1.4rem;
            font-weight: 300;
            letter-spacing: 0.02rem;
            margin-right: 39.3754rem;
            line-height: 1.4285714286;
            color: #737373;
            font-family: Sofia Pro, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .u-angle-down-Ktm {
            margin-top: 0.0005rem;
            width: 1.0542rem;
            height: 0.6247rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .description-2YH {
        flex-shrink: 0;
        margin-left: 7.6rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .form-filled-no-caption-9so {
      width: 31.4rem;
      left: 26.2rem;
      display: flex;
      flex-direction: column;
      height: 9.8rem;
      position: absolute;
      top: 14rem;
      row-gap: 0.8rem;
      align-items: center;

      .title-s37 {
        line-height: 1.2575;
        letter-spacing: 0.01rem;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 600;
        white-space: nowrap;
        margin-right: 8.5rem;
        color: #011c34;
        font-family: Sofia Pro, 'Source Sans Pro';
      }
      .bg-PXF {
        width: 100%;
        height: 4.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 7.6rem;

        .auto-group-8kvj-k6u {
          display: flex;
          align-items: center;
          border: solid 0.1rem #f0f0f0;
          border-radius: 0.2rem;
          box-sizing: border-box;
          padding: 1.3rem 1rem 1.3rem 1.6rem;
          width: 100%;
          height: 100%;

          .placeholder-gFT {
            color: #737373;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            display: flex;
            font-weight: 300;
            line-height: 1.4285714286;
            letter-spacing: 0.02rem;
            font-family: Sofia Pro, 'Source Sans Pro';
            margin-right: 12.7rem;
          }
          .u-acalendar-alt-oqs {
            flex-shrink: 0;
            width: 2rem;
            height: 2.2rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .description-8NM {
        font-weight: 400;
        line-height: 1.3333333333;
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 5.2rem;
        font-size: 1.2rem;
      }
    }
    .form-filled-no-caption-ft5 {
      flex-direction: column;
      width: 31.4rem;
      position: absolute;
      left: 26.2rem;
      top: 24.2rem;
      row-gap: 0.8rem;
      align-items: center;
      display: flex;
      height: 9.8rem;

      .title-PJH {
        flex-shrink: 0;
        font-size: 1.4rem;
        line-height: 1.2575;
        color: #011c34;
        letter-spacing: 0.01rem;
        font-family: Sofia Pro, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 9rem;
        display: flex;
        font-weight: 600;
      }
      .bg-7EH {
        box-sizing: border-box;
        padding-left: 7.6rem;
        width: 100%;
        height: 4.8rem;
        flex-shrink: 0;

        .auto-group-tawm-T3F {
          box-sizing: border-box;
          width: 100%;
          border: solid 0.1rem #f0f0f0;
          padding: 1.4rem 1.6rem;
          height: 100%;
          line-height: 1.4285714286;
          letter-spacing: 0.02rem;
          display: flex;
          color: #737373;
          font-family: Sofia Pro, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.4rem;
          font-weight: 300;
          border-radius: 0.2rem;
        }
      }
      .description-WXK {
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 5.2rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #a6a6a6;
      }
    }
    .form-focus-no-caption-3n9 {
      position: absolute;
      left: 7.6rem;
      top: 3.8rem;
      box-sizing: border-box;
      padding-bottom: 2.4rem;
      width: 23.8rem;
      height: 9.8rem;

      .title-MXw {
        font-size: 1.4rem;
        font-weight: 600;
        font-family: Sofia Pro, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        line-height: 1.2575;
        letter-spacing: 0.01rem;
        color: #011c34;
        display: flex;
      }
      .auto-group-ozvp-5iq {
        width: 100%;
        height: 4.8rem;
        position: relative;

        .bg-S3b {
          box-sizing: border-box;
          border-radius: 0.2rem;
          width: 23.8rem;
          height: 4.8rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.3rem rgba(46, 196, 182, 0.0599999987);
        }
        .placeholder-79j {
          height: 2rem;
          position: absolute;
          top: 1.4rem;
          font-weight: 400;
          letter-spacing: 0.02rem;
          white-space: nowrap;
          font-family: Sofia Pro, 'Source Sans Pro';
          width: 2.7rem;
          left: 1.6rem;
          display: flex;
          font-size: 1.4rem;
          line-height: 1.4285714286;
          color: #011c34;
        }
      }
    }
    .bg-mzy {
      font-family: Sofia Pro, 'Source Sans Pro';
      background-color: #2ec4b6;
      white-space: nowrap;
      position: absolute;
      left: 7.6rem;
      font-weight: 600;
      line-height: 1.2575;
      color: #ffffff;
      border-radius: 0.2rem;
      width: 50rem;
      top: 55rem;
      text-align: center;
      letter-spacing: 0.02rem;
      align-items: center;
      height: 4.8rem;
      font-size: 1.6rem;
      display: flex;
      justify-content: center;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1000000015);
    }
    .by-clicking-register-you-agree-to-our-terms-of-use-and-our-privacy-policy-D6H {
      line-height: 1.7857142857;
      font-family: Sofia Pro, 'Source Sans Pro';
      position: absolute;
      display: flex;
      font-size: 1.4rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      align-items: baseline;
      width: 42.2rem;
      height: 2.5rem;
      left: 9.4rem;
      top: 61.4rem;

      .by-clicking-register-you-agree-to-our-terms-of-use-and-our-privacy-policy-D6H-sub-0 {
      }
      .by-clicking-register-you-agree-to-our-terms-of-use-and-our-privacy-policy-D6H-sub-1 {
        text-decoration-line: underline;
        color: #2ec4b6;
        font-family: Sofia Pro, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.7857142857;
      }
      .by-clicking-register-you-agree-to-our-terms-of-use-and-our-privacy-policy-D6H-sub-2 {
      }
      .by-clicking-register-you-agree-to-our-terms-of-use-and-our-privacy-policy-D6H-sub-3 {
        font-weight: 500;
        line-height: 1.7857142857;
        text-decoration-line: underline;
        color: #2ec4b6;
        font-family: Sofia Pro, 'Source Sans Pro';
        font-size: 1.4rem;
      }
    }
  }
}
